.link-header{
  text-align:center;
  color:white;
  border: solid 3px #8935DE;
  border-radius:6px;
  background-color: #8935DE;
}

header{
  background-color: #0C1250;
}

header a{
  color: white;
  padding: 10px;
}

.Astronova h1{
  font-size:100px;
  font-family:Times New Roman;
  text-align:center;
  background-color: rgb(79, 81, 216);
}

.Astronova h2{
  text-align:center;
}

p{
  font-size:25px;
  text-align: center;
}
.extra p{
  font-size:40px;
  text-align: center;
  text-decoration: underline;
  margin: 10px;
  padding: 10px;
}
}

.Jupiter p{
  font-size:30px;
  text-align: left;
}

.BlackHole p{
  font-size:30px;
  text-align: left;
}

.Exoplanets p{
  font-size:30px;
  text-align: left;
}

.extra img{
  width: 300px;
  
  border:dash 6px #8935DE;
}

.StarMap a{
  font-size:30px;
  color: white;
  background-color:rgb(79, 81, 216);
  border:solid 3px #8935DE;
  border-radius: 6px;
  text-decoration: none;
}

.extra{
  background-color:#0C1250;
  color:white;
}

footer{
  background-color:#0C1250;
}

.SmallText{
  color:white;
  text-align: left;
}

footer p{
  text-align:center;
  color:white;
  border: solid 3px #8935DE;
  border-radius:6px;
  background-color: #8935DE;
  
}

footer a{
    color: white;
    padding: 5px;
}

.extra a {
  color: white;
  border:solid 3px #8935DE;
  background-color: rgb(79, 81, 216);
}

 .box {
  text-align: center;
  border:10px groove #8935DE;
  margin: 10px;
  padding: 10px;
  
}

.Exo-Planets p{
  font-size: 20px;
  text-align: center;
}
